.title-link-to-home {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.title-link-to-home:hover {
  color: #444;
}

.link-to-topics {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.link-to-topics:hover {
  color: #444;
}

.link-to-users {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.link-to-users:hover {
  color: #444;
}

.articles-list {
  list-style: none;
}

.article-title-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.article-title-link:hover {
  color: #444;
}

.article-page {
  list-style: none;
}

.comments-list {
  list-style: none;
}

.topics-list {
  list-style: none;
}

.active-link {
  text-decoration: none;
  color: black;
}

.topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.topic-link:hover {
  color: #444;
}

.article-topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.article-topic-link:hover {
  color: #444;
}

.home-topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.home-topic-link:hover {
  color: #444;
}

.users-list {
  list-style: none;
}
