.title-link-to-home {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.title-link-to-home:hover {
  color: #444;
}

.votes-button:hover {
  color: #444;
}

.delete-button:hover {
  color: #444;
}

.comment-button:hover {
  color: #444;
}

.submit-button:hover {
  color: #444;
}

.link-to-topics {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.link-to-topics:hover {
  color: #444;
}

.link-to-users {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.link-to-users:hover {
  color: #444;
}

.articles-list {
  list-style: none;
  text-align: center;
}

.article-list-text {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  gap: 1px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90%;
}

.homepage-date {
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.article-list-text h3,
.article-list-text p {
  margin: 0;
}

.article-title-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.article-title-link:hover {
  color: #444;
}

.article-page {
  list-style: none;
}

.article_img {
  width: 80%;
  max-width: 800px;
  height: auto;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.comments-list {
  list-style: none;
}

.topics-list {
  list-style: none;
}

.active-link {
  text-decoration: none;
  color: black;
}

.topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.topic-link:hover {
  color: #444;
}

.article-topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 50px;
}

.article-topic-link:hover {
  color: #444;
}

.home-topic-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.home-topic-link:hover {
  color: #444;
}

.users-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 200px;
  margin-bottom: 20px;
}

.user-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
}

.user-info {
  margin-top: 100px;

  text-align: center;
}

.sort-dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 126px;
  text-align: left;
}

.topics-nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px 46px;
}

.topics-container {
  padding-top: 0;
}

.topics-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 0 auto 50px auto;
  width: 90%;
}

.articles-link {
  display: flex;
  padding: 64px;
  margin-left: 126px;
}

.topics-page h2,
.topics-page p {
  margin: 0;
}

.topic-img {
  width: 80%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 15px auto;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  max-height: 50px;
}

.filtered-articles-header {
  text-align: center;
}

.article-page h3 {
  text-align: center;
}

.article-info {
  margin-left: 50px;
  line-height: 0.5;
}